* {
color : lightpink; 
font-family: century gothic, fangsong;
scroll-behavior: smooth;

}

body {

background-repeat: no-repeat;
background-attachment: fixed;
background-image: url('photo.jpg');
background-size: cover;
padding: 30px;


}

h1 {
	font-family: century gothic, fangsong;
	text-align: center;
	color: pink;
	font-style: italic;
	font-size: 80px;

}
 
/* footer {
background: grey;
color: darkgrey;
bottom:0;
width:100%;
padding-top:5px;
height: 2.5rem; 
text-align: center;
}
*/

footer {
	background-color: grey; 
	display: flex;
	justify-content: space-around;
}

.texte{
	width: 45%;
	font-size: 18px;
}

.text-link {
	color : lightpink;
	text-decoration: underline;

}

a:hover.text-link {
  color: pink;
}

.intro {
	font-size: 120%;
	width: 50%;
	border-style: solid;
	padding: 15px;
}

@font-face {
	font-family: 'Century gothic';
	src: URL('Century Gothic 400.ttf');
}

@media only screen and (max-width: 801px) {
	footer {
	  display : flex;
	  flex-direction : column;
	}